@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url("components/banner.css");
@import url("components/container.css");
@import url("components/buttom.css");
@import url("components/card.css");

body{
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	margin:0px;
	background: linear-gradient(rgba(255,255,255,.95), rgba(255,255,255,.95)), url("../images/background.jpg");
}
